.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
    border: 1px solid #2a2a2a;
};

.label {
    display: block;
    text-align: center;
};

.input {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
};

.button {
    padding: 10px 20px
}